@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/common";
@import "./header/header-common";
@import "./header/navigation";
@import "./header/contacts";
@import "./components/mobile-menu";
@import "./components/logo";
@import "./components/hero";
@import "./components/button";
@import "./modal/modal";
@import "./modal/form-info";
@import "./components/qualities";
@import "./components/work";
@import "./components/team";
@import "./components/clients";
@import "./footer/footer-common";
@import "./footer/address";
@import "./footer/join-us";
@import "./footer/subscribe";
@import "./portfolio/projects-menu";
@import "./portfolio/projects";