.page-footer {
  background-color: $secondary-background-color;
  padding: 60px 0px;

  &__container {
    text-align: center;
  }

  &__title {
    color: $white-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container-union {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }


  .container-union {
    justify-content: space-between;
    margin-bottom: 0;
  }

  .contact-container {
    margin-bottom: 0;
  }
  .join-us {
    margin-left: 70px;
  }
  .subscribe__place {
      display: flex;
      align-items: center;
    }
  }
