.primary-button {
  @extend %button;
  color: $white-color;
  background-color: $accent-color;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  margin: 0 auto;
  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $fourth-background-color;
  }

  &--with-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

.secondary-button {
  @extend %button;
  color: $primary-title-text-color;
  background-color: $third-background-color;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border: 1px solid $border-color;
  border-radius: 50%;
  cursor: pointer;

  &__icon {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $primary-title-text-color;
    transition: fill $transition-duration $timing-function;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accent-color;
  }
}
