.page-footer {
  background-color: $secondary-background-color;
  padding: 60px 0px;

& .container {
  text-align: center;
}

&__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

&__title {
  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
}
.contact-container {
  margin-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.page-footer__locasion {
  color: $primary-background-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color $transition-duration $timing-function;

&__locasion:hover,
&__locasion:focus {
  color: $accent-color;
}
}

.page-footer__contact-link {
  color: $secondary-text-color;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color $transition-duration $timing-function;

&:hover,
&:focus {
  color: $accent-color;
}
}


.join-us {
  text-align: center;
  margin-bottom: 60px;

&__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
&__social-icon {
  width: 20px;
  height: 20px;
}
}

.join-us__social-item {
  width: 44px;
  height: 44px;

&:not(:last-child) {
  margin-right: 10px;
}
}

.join-us__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  fill: $white-color;
  background-color: $icons-background-color;
  border-radius: 50%;

  transition: background-color $transition-duration $timing-function;

&:hover,
&:focus {
  background-color: $accent-color;
}
}

.subscribe {
  text-align: center;
}

.subscribe__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  border: 1px solid $third-text-color;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;

&::placeholder {
 color: $secondary-text-color;
}
}

@media screen and (min-width: 768px) {
    .container-union {
display: flex;
align-items: baseline;
justify-content: space-around;
    }
  }

@media screen and (min-width: 1200px) {
.page-footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.container-union {
justify-content: space-between;
    }

.contact-container {
  text-align: start;
  margin-bottom: 0;
}
.join-us {
  margin-left: 70px;
  text-align: start;
}
.subscribe {
  text-align: start;

  &__place {
  display: flex;
  align-items: center;
}
&__input {
width: 358px;
margin: 0 12px 0 0;
}
}
}