.our-projects {
  padding: 60px 0;
}

.projects-menu {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 25px;


&__item {
  margin: 0 8px 15px 0;
}
}

.project {

  &__item {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

&__item:not(:last-child) {
  @media screen and (max-width: 767px) {
  margin-bottom: 30px;
}
}

&__describing {
  padding: 20px 24px;
  border: 1px solid $secondary-border-color;
  border-top: none;
}

&__thumb {
  position: relative;
  overflow: hidden;
}
&__name {
  color: $primary-title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

&__type {
  color: $primary-text-color;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}

&__overlay {
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 294px;
  background-color: $second-overlay-color;

  transform: translateY(100%);
  opacity: 0;
  transition: transform $transition-duration $timing-function, opacity $transition-duration $timing-function;
}

 &__info {
  color: $white-color;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
}

@media screen and (min-width: 768px) {
  .projects-menu {
  flex-wrap: nowrap;
  justify-content: center;
  }
  
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;

&__item {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
}
}
}

@media screen and (min-width: 1200px) {
  .our-projects {
  padding: 94px 0;
  }

.projects-menu {
  margin-bottom: 50px;
}

.project__item {
 width: 370px;
 margin: 0px;

&:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

&:not(:nth-child(3n)) {
  margin-right: 30px;
}
}
}

.project__card {
  position: relative;

  display: block;
  width: 100%;
  background: $white-color;
  text-decoration: none;
  overflow: hidden;

  transition: box-shadow $transition-duration $timing-function;

&:hover,
&:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&:hover .project__overlay,
&:focus .project__overlay {
  transform: translateY(0);
  opacity: 1;
}
}
