.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-background-color;
  transform: scale(1);

  transition: opacity $transition-duration $timing-function;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-color: $white-color;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-duration $timing-function;

  &__title {
    color: $primary-title-text-color;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}
